.key-list {
    list-style: none;
    display:flex;
}

.key{
    	  position: relative;
    	  border: 1px solid black;
          background-color: rgb(243, 243, 227);
          width: 170px;
          justify-content: center;
          height: 160px;
}


.key:hover{
   
    background-color: rgb(219, 219, 204);
    
}

.key:active {

    background-color: rgb(187, 187, 176);

}

.key:focus {

    background-color: rgb(187, 187, 176);

}

.key-black{
    background-color: black;
    width: 17px;
    height: 120px;
    margin-right: 15px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}